body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
}
input, button{
    outline:none;
    border: none;
}
.popup .layui-m-layerbtn{
    background-color: #ffcd0d;
    height: 1.33333rem;
    color: #2d2d2d;
    font-size: 16px;
    [data-dpr="2"] & {
        font-size: 16px * 2;
    }
    [data-dpr="3"] & {
        font-size: 16px * 3;
    }
}
.popup .layui-m-layerbtn span[yes]{
    color: #2d2d2d;
}
#signup{
    background: url("../images/singup-bg.png") 0 0 no-repeat;
    background-size: 100%;
    /*padding-top: 3.51rem;*/
    padding-top: 3.6rem;
}
#thumbnail{
    width: 3.06667rem;
    margin: 0 auto;
}
#thumbnail img{
    width: 100%;
}
#signup-form{
    width: 100%;
    color: #999;
    font-size: 15px;
    [data-dpr="2"] & {
        font-size: 15px * 2;
    }
    [data-dpr="3"] & {
        font-size: 15px * 3;
    }
}
#signup-form .form-cell{
    width: 100%;
    position: relative;
    height: 1.348rem;
}
#signup-form input[type='text']{
    width: 6.8rem;
    padding: 0 0.53333rem;
    margin: 0 auto;
    height: 1.33333rem;
    line-height: 1.33333rem;
    border-bottom: solid 1px #ededed;
    display: block;
}
#mobileNumberIcon{
    display: inline-block;
    width: 0.38333rem;
    height: 0.4rem;
    background: url("../images/sprite.png") no-repeat;
    background-size: 6.4rem auto;
    background-position: -0.13333rem -0.109375rem;
    position: absolute;
    left: 1.06667rem;
    top: 0.42667rem;
}
#captchaIcon{
    display: inline-block;
    width: 0.33333rem;
    height: 0.29333rem;
    background: url("../images/sprite.png") no-repeat;
    background-size: 6.4rem auto;
    background-position: -0.66667rem -0.24rem;
    position: absolute;
    left: 1.06667rem;
    top: 0.53667rem;
}
#verifyCodeBtn{
    border: solid 1px #999;
    color: #999;
    background-color: transparent;
    border-radius: 0.13333rem;
    height: 0.74667rem;
    line-height: 0.74667rem;
    width: 2.18667rem;
    text-align: center;
    font-size: 13px;
    position: relative;
    top: -1.06667rem;
    left: 6.77333rem;
    [data-dpr="2"] & {
        font-size: 13px * 2;
    }
    [data-dpr="3"] & {
        font-size: 13px * 3;
    }
}
#verifyCodeBtn.active{
    border: solid 1px #ffcd0d;
    color: #ffcd0d;
}
.bottom-btn{
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-color: #ffcd0d;
    height: 1.33333rem;
    line-height: 1.33333rem;
    color: #2d2d2d;
    position: fixed;
    left: 0rem;
    bottom: 0rem;
    font-size: 16px;
    [data-dpr="2"] & {
        font-size: 16px * 2;
    }
    [data-dpr="3"] & {
        font-size: 16px * 3;
    }
}


#add-student{
    color: #ababab;
    padding: 0.66667rem 0 2rem 0;
    text-align: center;
    font-size: 11px;
    [data-dpr="2"] & {
        font-size: 11px * 2;
    }
    [data-dpr="3"] & {
        font-size: 11px * 3;
    }
}
#add-student p i{
    color: #ffcd0d;
    font-style: normal;
}
/*#add-student-form{*/
    /*width: 8.16rem;*/
    /*margin: 0.8rem auto 0 auto;*/
    /*background-color: #fff;*/
    /*border-radius: 0.13333rem;*/
    /*padding-top: 0.66667rem;*/
    /*box-shadow: 0 0 3px #ddd;*/
/*}*/
#add-student-form .form-cell{
    width: 8.16rem;
    margin: 0rem auto 0.13333rem auto;
    background-color: #fff;
    border-radius: 0.26666rem;
    padding-top: 0.66667rem;
    box-shadow: 0 0 3px #ddd;
}
#add-student-form .form-cell#add-student-form-btn{
    margin: 0.26667rem auto 0 auto;
    padding: 0rem;
    height: 1.33333rem;
    line-height: 1.33333rem;
    font-size: 15px;
    [data-dpr="2"] & {
        font-size: 15px * 2;
    }
    [data-dpr="3"] & {
        font-size: 15px * 3;
    }
}
#add-student-form .form-cell#add-student-form-btn i{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../images/sprite.png") no-repeat;
    background-size: 6.4rem auto;
    background-position: -1.2rem -0.16rem;
    position: relative;
    top: 0.04333rem;
    margin-right: 0.12rem;
}
#add-student-form .or{
    color: #999;
    margin: 0rem 0.64rem;
    position: relative;
    top: -1.12rem;
}
#add-student-form .thumbnail{
    height: 1.65333rem;
    width: 1.65333rem;
    display: inline-block;
    color: #dedede;
    font-size: 15px;
    [data-dpr="2"] & {
        font-size: 15px * 2;
    }
    [data-dpr="3"] & {
        font-size: 15px * 3;
    }
}
#add-student-form .thumbnail span{
    position: relative;
    top: -0.12rem;
    display: inline-block;
}
#add-student-form .thumbnail.active{
    color: #000;
}
#add-student-form .thumbnail.boy{
    margin: 0 ;
    background: url("../images/thumbnail-boy.png") no-repeat;
    background-size: 1.65333rem;
}
#add-student-form .thumbnail.girl{
    background: url("../images/thumbnail-girl.png") no-repeat;
    background-size: 1.65333rem;
}
#add-student-form .thumbnail i{
    display: inline-block;
    height: 1.68rem;
    width: 1.68rem;
    background: url("../images/thumbnail-border-unselect.png") no-repeat;
    background-size: 1.68rem;
    position: relative;
    left: -0.02667rem;
}
#add-student-form .thumbnail.active i{
    background: url("../images/thumbnail-border-select.png") no-repeat;
    background-size: 1.68rem;
}
#add-student-form input{
    text-align: center;
    color: #999;
    height: 1.04rem;
    line-height: 1.04rem;
    font-size: 14px;
    [data-dpr="2"] & {
        font-size: 14px * 2;
    }
    [data-dpr="3"] & {
        font-size: 14px * 3;
    }
}
#add-student-form input[name='name']{
    border-bottom: solid 1px #ededed;
    width: 5.33333rem;
    margin-top: 0.44rem;
}
#add-student-form input[name='birth']{
    margin-bottom: 0.33333rem;
}

/*student_list.html*/
#student-list{
    padding: 0.2rem 0 2rem 0;
}
#student-list .student-info{
    margin: 0.4rem 0 0 0.8rem;
    height: 4.6rem;
    width: 9.2rem;
    background: url("../images/student-bg.png") no-repeat left bottom;
    background-size: 8.58667rem;
}
#student-list .student-info .content{
    width: 8.29333rem;
    text-align: center;
}
#student-list .thumbnail{
    width: 2.34667rem;
    height: 2.34667rem;
    margin: 0 auto;
}
#student-list .thumbnail.boy{
    background: url("../images/thumbnail-boy-border.png") no-repeat;
    background-size: 2.34667rem;
}
#student-list .thumbnail.girl{
    background: url("../images/thumbnail-girl-border.png") no-repeat;
    background-size: 2.34667rem;
}
#student-list .student-info .name{
    height: 0.64rem;
    line-height: 0.64rem;
    font-size: 24px;
    [data-dpr="2"] & {
        font-size: 24px * 2;
    }
    [data-dpr="3"] & {
        font-size: 24px * 3;
    }
}
#student-list .student-info .birth{
    font-size: 11px;
    margin-top: 0.13333rem;
    margin-bottom: 0.4rem;
    [data-dpr="2"] & {
        font-size: 11px * 2;
    }
    [data-dpr="3"] & {
        font-size: 11px * 3;
    }
}
#student-list .student-info .birth i{
    display: inline-block;
    width: 0.33334rem;
    height: 0.3rem;
    background: url("../images/sprite.png") no-repeat;
    background-size: 6.4rem auto;
    background-position: -1.73333rem -0.23rem;
    margin-right: 0.26667rem;
}
#student-list .student-info .add-class-btn{
    width: 3.14667rem;
    height: 0.88rem;
    line-height: 0.88rem;
    border-radius: 0.44rem;
    background-color: #ffcd0d;
    margin: 0 auto;
    font-size: 14px;
    [data-dpr="2"] & {
        font-size: 14px * 2;
    }
    [data-dpr="3"] & {
        font-size: 14px * 3;
    }
}
#student-list #add-student-btn{
    text-align: center;
}
#student-list #add-student-btn i{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../images/sprite.png") no-repeat;
    background-size: 6.4rem auto;
    background-position: -2.26667rem -0.16rem;
    position: relative;
    top: 0.04333rem;
    margin-right: 0.12rem;
}
/*.dsx-title {
    text-align: center;
    font-size: 24px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

.dsx-sub-title {
    text-align: center;
    color: #888;
    font-size: 14px;
}

.dsx-header {
    padding: 20px 0;
}

.dsx-content-padded {
    padding: 15px;
}

.dsx-second-title {
    text-align: center;
    font-size: 24px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

footer {
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

footer a {
    color: #999;
    text-decoration: none;
}

.dsx-row {
    margin: 0.8em !important;
}


.dsx-weui-cell {
    margin-left: 0.8em !important;
    margin-right: 0.8em !important;
}
.weui-module-grids{
	position: relative;
	overflow: hidden;
}

.weui-module-grid {
    position: relative;
    float: left;
    padding: 20px 10px;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border-width:1px;
}

.weui-module-grid-prod {
    position: relative;
    float: left;
    padding: 2px 2px;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border-width:1px;
}

.weui-grid-dsx-icon-prod {
    height: 120px;
    margin: 0 auto;
    border: #124B28;
    border-style: solid;
    border-radius: 4px;
    border-width:2px;
}

.weui-grid-dsx-icon {
	width: 120px;
    height: 120px;
    margin: 0 auto;
    border: #124B28;
    border-style: solid;
    border-radius: 4px;
    padding: 4px;
}

.dsx-custom-vcode-btn {
	color:#124B28 !important;
}

.tip-bar-color {
	background: #124B28 !important;
	margin-bottom: 4px;
}

.dsx-ztsp-title {
	font-weight: 400;
    font-size: 12px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.weui-form-preview__hd .dsx-order-money {
    font-style: normal !important;
    font-size: 1.0em !important;
}
. dsx-transport-fee {
	font-style: normal !important;
    font-size: 0.5em !important;
}
.dsx-ztsp-price {
	color: #124B28;
    font-size: 12px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.dsx-ztsp-info {
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding-left: 6px;
    min-width: 0;
}

.dsx-ztsp-thumb-image {
	width: 50%;
    margin-left: 0px;
    max-height: 100%;
    vertical-align: middle;
}

.dsx-myworks-area {
	position: relative;
    overflow: hidden;
    height: 240px;
}

.dsx-myworks-image {
	position: relative;
    float: left;
    width: 33.33%;
    height: 100%;
    box-sizing: border-box;
    border-width: 1px;
}

.dsx-order-thumb {
	max-height: 100%;
    margin-left: 2px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    vertical-align: top;
}

.dsx-user-info {
	font-style: normal;
	font-size: 1em !important;
}*/

