<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>课程预约</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	    <link href="/css/app.css" media="screen" rel="stylesheet"/>
	    <link href="/css/calendar.css" media="screen" rel="stylesheet"/>
    </head>
    <body style="background-color: #f5f5f1;">
        <div id="course-subscribe">
            <div id="demo-course">
                <div class="course-image">
                    <img src="/images/test.png"/>
                </div>
                <input id="demo-subscribe-btn" class="bottom-btn" type="submit" value="预约体验课"/>
            </div>
            <div id="subscribe">
                <div id="calendar" class="calendar"></div>
                <ul id="time-list">
                    <li data-time="09"><span class="time">09:00~10:00</span><span class="subscribe-btn">预约</span></li>
                    <li data-time="10"><span class="time">10:00~11:00</span><span class="subscribe-btn">预约</span></li>
                    <li data-time="11"><span class="time">11:00~12:00</span><span class="subscribe-btn">预约</span></li>
                    <li data-time="12"><span class="time">12:00~13:00</span><span class="subscribe-btn">预约</span></li>
                    <li data-time="13"><span class="time">13:00~14:00</span><span class="subscribe-btn">预约</span></li>
                    <li data-time="14"><span class="time">14:00~15:00</span><span class="subscribe-btn">预约</span></li>
                    <li data-time="15"><span class="time">15:00~16:00</span><span class="subscribe-btn">预约</span></li>
                </ul>
                <div id="subscribe-time"></div>
                <input id="subscribe-btn" class="bottom-btn" type="submit" value="预约"/>
            </div>
        </div>
	    <script src="/js/jquery.min.js" type="text/javascript" ></script>
	    <script src="/js/flexible.js" type="text/javascript" ></script>
        <script src="/js/common_fns.js" type="text/javascript" ></script>
        <script src="/js/jweixin-1.2.0.js" type="text/javascript" ></script>
        <script src="/js/course_subscribe.js" type="text/javascript" ></script>
        <script src="/js/calendar.js" type="text/javascript" ></script>
        <script src="/js/layer_mobile/layer.js" type="text/javascript" ></script>
    </body>
</html>
