<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>我的课程</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	    <link href="/css/app.css" media="screen" rel="stylesheet"/>
    </head>
    <body style="background-color: #f5f5f1;position: relative;">
        <div id="course-list-content">
            <ul id="course-tab">
                <li data-type="subscribe-course" class="active">预约课程<i></i></li>
                <li data-type="course-info">课程详情<i></i></li>
            </ul>
            <div id="subscribe-course" class="content">
            </div>
            <div id="course-info" class="content">
                <div id="student-title" class="title"><i></i></div>
                <ul id="student-list" class="list">
                    <!--<li data-id="1">陈一白</li>-->
                    <!--<li data-id="2">陈小花</li>-->
                    <!--<li data-id="3">陈二白</li>-->
                </ul>
                <div id="course-title" class="title"><i></i></div>
                <ul id="course-list" class="list">
                    <!--<li data-id="1">绘本课</li>-->
                    <!--<li data-id="2">油画棒</li>-->
                    <!--<li data-id="3">水粉课</li>-->
                </ul>
                <div id="course-search-btn"><span>查询</span></div>
                <div id="detail">

                    <!--<div class="course-info" data-id="1">-->
                        <!--<div class="student-name">陈一白</div>-->
                        <!--<div class="course-name">课程内容:《绘本课》</div>-->
                        <!--<div class="left-period">剩余课时:0</div>-->
                        <!--<div class="reserved-period">已上课时:36</div>-->
                        <!--<div class="detail">查看详情<i></i></div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
	    <script src="/js/jquery.min.js" type="text/javascript" ></script>
	    <script src="/js/flexible.js" type="text/javascript" ></script>
        <script src="/js/common_fns.js" type="text/javascript" ></script>
        <script src="/js/course_list.js" type="text/javascript" ></script>
        <script src="/js/layer_mobile/layer.js" type="text/javascript" ></script>
    </body>
</html>
