<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>学员信息</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" name="viewport"/>
        <!-- head 中 -->
	    <link href="../static/css/app.css" media="screen" rel="stylesheet"/>
    </head>
    <body style="background-color: #f5f5f1;">
        <div id="student-list">
            <div class="student-info">
                <div class="content">
                    <div class="thumbnail girl"></div>
                    <div class="name">陈一白</div>
                    <div class="birth"><i></i>2013-08-08</div>
                    <div class="add-class-btn">去约课</div>
                </div>
            </div>
            <div class="student-info">
                <div class="content">
                    <div class="thumbnail girl"></div>
                    <div class="name">陈一白</div>
                    <div class="birth"><i></i>2013-08-08</div>
                    <div class="add-class-btn">去约课</div>
                </div>
            </div>
            <div class="student-info">
                <div class="content">
                    <div class="thumbnail girl"></div>
                    <div class="name">陈一白</div>
                    <div class="birth"><i></i>2013-08-08</div>
                    <div class="add-class-btn">去约课</div>
                </div>
            </div>
            <div class="student-info">
                <div class="content">
                    <div class="thumbnail boy"></div>
                    <div class="name">陈一白</div>
                    <div class="birth"><i></i>2013-08-08</div>
                    <div class="add-class-btn">去约课</div>
                </div>
            </div>
            <a id="add-student-btn" class="bottom-btn" href="student_register.html"/><i></i>添加学员</a>

        </div>

        <!-- body 最后 -->
	    <script src="../static/js/jquery.min.js" type="text/javascript" ></script>
	    <script src="../static/js/flexible.js" type="text/javascript" ></script>
        <script src="../static/js/common_fns.js" type="text/javascript" ></script>
        <!--<script src="../static/js/add_child.js" type="text/javascript" ></script>-->
        <script src="../static/js/layer_mobile/layer.js" type="text/javascript" ></script>
    </body>
</html>
